body {
    background-color: #3C3C3C;
    margin-top: 120px;
    font-family: 'Lato';
    color: black;
}

h1 {
    color: #00FF8A;
    font-weight:600;
    font-size: 75px;
    text-align: center;
    marign-bottom: 25px;
    font-family: 'Poppins', semibold, sans-serif;
}

p {
    color: white;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 50px;
}
